<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Survey Form </title>
</head>
<body>

    <form action="/surveyapp/process" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Dojo Location:</td>
            <td><select name="location">
                    <option> Burbank</option>    
                    <option> Seattle</option>
            </select></td>
        </tr>
        <tr>
            <td> Favorite Language:</td>
            <td><select name="language">
                    <option> Javascript</option>    
                    <option> Python</option>
                    <option> None</option>
            </select></td>
        </tr>
        <tr>
            <td colspan="2"><textarea name="comment" rows="5" cols="40"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="submit"></td>
        </tr>
    </table>

    </form>
</body>
</html>