<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuotingDojo</title>
</head>
<body>
    <h1>Welcome to QuotingDojo</h1>
    <form action="/quotes" method="POST">
        <table>
            <tr>
                <td> Your name:</td>
                <td> <input type="text" name="name"></td>
            </tr>
            <tr>
                <td> Your quote:</td>
                <td><textarea name="quote" rows="5" cols="20"></textarea></td>
            </tr>
            <tr>
                <td> <input type="submit" value="Submit"></td>
    </form>
    <form action="/display" method="GET">
                <td><input type="submit" value="Skip to quotes!"></td>
    </form>
            </tr>
        </table>

</body>
</html>