<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
    <style>
    div{
        border: 1px solid black;
    }
    </style>
</head>
<body>
    <h3> Random Word (attempt #{{request.session.count}})</h3>
    <div>{{randomword}}</div>

    <form action="/generate">
        <input type="submit" value="Generate">
    </form>
</body>
</html>