<html>
<head>
  <title>Friends</title>
</head>
<body>
  <h2>Enter Email</h2>

  <form action='/process' method='POST'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <table id="submittable">
      <tr>
        <td>Email Address: </td><td><input type="text" name="emailcheck" id="email"></td>
      </tr>
      <tr>
        <td><input type="submit" value="Check/Add"></td>
      </tr>
    </table>
  </form>
 
</body>
</html>