<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
      
    <h2>Email List</h2>
    <table id="friendlist">
        {% for item in all_emails: %}
        <tr>
            <td>{{ item['email'] }}</td>
            <td>{{ item['created_at'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <form action='/goback'>
    <input type="submit" value="Go Back">
    </form>
</body>
</html>