<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Pig</title>
</head>
<body>
    <form action="/pig" method="POST">
        <table>
            <tr>
                <td> Type: </td>
                <td><input type="text" name="type"></td>
            </tr>
            <tr>
                <td> Part: </td>
                <td><input type="text" name="part"></td>
            </tr>
            <tr>
                <td> MBTI: </td>
                <td><input type="text" name="mbti"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>

</body>
</html>