<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>

    <h1> User {{user.id}}</h1>
    <table>
    <tr>
        <td>Full Name: {{user.firstname}} {{user.lastname}}</td>
    </tr>
    <tr>
        <td>Email: {{user.email}}</td>
    </tr>
    <tr>
        <td>Created at: {{user.created_at}}</td>
    </tr>
    </table>
<br>
    <a href="/edit/{{user.id}}">Edit</a> | <a href="/delete/{{user.id}}">Delete</a> | <a href="/">Go Back</a>
</body>
</html>