<!doctype = HTML>
<html>
<head>
    <title> Number Game</title>
</head>
<body style="text-align:center;">

        <div>
            <h1> Welcome to the Great Number Game!!</h1>
            <p>I am thinking of a number between 1 and 100</p>
            <p> Take a guess!</p>
            <form action ='/guess' method="POST">
                {% if session['result']!='You guessed it correct!'%}
                    <input type="text" name="guess">
                    <input type="submit" value="Submit" name="Submit">
                {% endif %}
            </form>
        </div>

  
    {% if ((session['result']!='You guessed it correct!')and(session['player_guess']!= 0))%}
    <div  style="height:200px; width:200px; background-color:red; margin: auto;">
        <p>{{session['result']}}</p>
    </div>
    {%endif%}
        
    {% if session['result']=='You guessed it correct!'%}
    <form action='/reset'>
        <div style="height:200px; width: 200px; background-color: green;margin: auto;">
            <p>{{session['result']}}</p>
            <input type="submit" value="Reset" name="Reset">
        </div>
    </form>
    {% endif %}

</body>
</html>